.add_form__column {
  display: flex;
  padding: 0.5em;
}

.add_form__column > .button {
  flex: 1 0 auto;
}

.add_form--close {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.add_form__footer {
  display: flex;
}