.column {
  background-color: #eee;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin: 0.5em;
}

@media (min-width: 568px) {
  .column {
    flex-grow: 0;
    max-width: 272px;
  }
}

.column__add_card {
  font-size: 0.875em;
}

.column__titlebar {
  font-weight: 700;
  padding: 0.5em 0.5rem 0;
}

.column__editable_header {
  flex: 1 0 auto;
}

.column__card {
  margin: .5em;
}

.column__card:last-child {
  margin-bottom: 0;
}