.dashboard {
  box-sizing: border-box;
}
@media (min-width: 568px) {
  .dashboard {
    align-items: flex-start;
    display: flex;
    height: calc(100vh - 72px);
    overflow-x: auto;
    padding-right: 0.5rem;
    width: 100vw;
  }
}