.editable_text {
  display: flex;
  flex-direction: column;
}

.editable_text__header {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.editable_text__header,
.editable_text__text {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
  padding: inherit;
}

.editable_text__text {
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 4px;
  flex: 1 0 auto;
  outline: none;
}

.editable_text__text:focus {
  background-color: #fff;
  border-color: #09f;
}
