.modal {
  background-color: #fff;
  border-radius: 0.5em;
  box-sizing: border-box;
  margin: 1rem auto;
  padding: 1rem 1em;
}

@media (min-width: 568px) {
  .modal {
    max-width: 552px;
  }
}

.modal--hide {
  display: none;
}

.modal__wrapper {
  background-color: #0006;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}
