.topbar {
  align-items: center;
  background-color: #fff2;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  height: 64px;
  justify-content: space-between;
  left: 0;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  width: 100vw;
}

.topbar > .logo {
  font-family: 'Yellowtail', cursive;
  font-size: 2.5em;
}

@media (max-width: 320px) {
  .topbar > .logo {
    font-size: 1em;
  }
}

@media (min-width: 321px) and (max-width: 375px) {
  .topbar > .logo {
    font-size: 1.75em;
  }
}


.topbar__user {
  display: flex;
}

.topbar__user_wrapper {
  margin-right: 1em;
}

.topbar__useremail {
  color: #fffa;
  font-size: 0.75em;
}

.topbar__logout {
  background-color: #fff3;
  border: 2px solid transparent;
  border-radius: 0.25em;
  color: inherit;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: 300;
  opacity: .7;
}

.topbar__logout:hover {
  background-color: #fff5;
}
